<!-- p5 -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.9.0/p5.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.9.0/addons/p5.dom.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.9.0/addons/p5.sound.min.js"></script>
<!-- ml5 -->
<script src="https://unpkg.com/ml5@0.4.3/dist/ml5.min.js"></script>
<!-- scripts me -->
<script src="../src/public/js/sketch.js"></script>

<!--
<div class="jumbotron container my-4">
    <h1 class="display-3">Crear modelo, <?= $_SESSION['data']['nombre'] ?>!</h1>
    <p class="lead"> Aquí podrás crear tu modelo nuevo<p>
    <hr class="my-4">
    
    <div class="row">
        <div class="col-md-6">
            <h1>camara</h1>
            <div class="bg-primary">
                <h1>hola camarita </h1>
            </div>
            <span>ES UN/(a) </span> <b>BOTELLA</b> <br>
            <span>Efectividad </span> <b>100 %</b>
            <p class="lead">
                <a class="btn btn-light btn-lg" href="#" role="button">DESCARGAR MODELO</a>
            </p>
        </div>
        <div class="col-md-6">
            <h1>opciones </h1>
            
            <div class="form-group">
                <select class="custom-select">
                    <option selected="">Open this select menu</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>            

            <p class="lead">
                <a class="btn btn-danger btn-lg btn-block" href="#" role="button">ENTRENAR</a>
            </p>
                        
        </div>
    </div>
</div>
-->


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script> 


    